:root {
  /* 全局颜色变量 */
  --primary-color: #007BFF; /* 主色调 */
  --secondary-color: #444; /* 次要颜色 */
  --background-color: #f9f9f9; /* 背景颜色 */
  --text-color: #000000; /* 文字颜色 */
  --muted-text-color: #999; /* 次要文字颜色 */
  --border-color: #ccc; /* 边框颜色 */
  --hover-color: #3354AA; /* 悬停颜色 */
  --highlight-color: #e74c3c; /* 高亮颜色 */

  /* 全局间距变量 */
  --spacing-small: 5px;
  --spacing-medium: 10px;
  --spacing-large: 20px;

  /* 全局字体变量 */
  --font-size-small: 0.9em;
  --font-size-medium: 1em;
  --font-size-large: 1.4em;

  /* 全局边框变量 */
  --border-radius: 4px;
  --border-width: 1px;

  /* 全局阴影变量 */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 87.5%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--hover-color);
  font-weight: bold;
}

a:hover, a:active {
  color: var(--secondary-color);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em
}

::-webkit-scrollbar-thumb {
  background-color: #818181;
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 100%,transparent 100%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em
}

h1, h2, h3, h4, h5, h6 {
  font-family: '华文中宋', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
}

/* 输入框和文本域样式 */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  padding: var(--spacing-small);
  border: var(--border-width) solid var(--border-color);
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--border-radius);
}

textarea {
  resize: vertical;
}

/*图片懒加载*//*给图片过渡效果*/
img{transition: all 0.5s;-moz-transition: all 0.5s;	/* Firefox 4 */-webkit-transition: all 0.5s;	/* Safari 和 Chrome */-o-transition: all 0.5s;	/* Opera */;}
.index{width: 400px;margin: 0 auto;padding-bottom: 100px;}
.index-img{width: 100%;height:210px;margin-top:100px;}
/*object-fit: cover;解决图片指定大小被压缩问题*/
.index-img>img{width: 100%;height: 100%;object-fit: cover;}

/* Special link style */
.post-meta a,
.post-content a,
.widget a,
.comment-content a {
  text-decoration: none;
}

.post-meta a:hover,
.post-content a:hover,
.widget a:hover,
.comment-content a:hover {
  border-bottom-color: transparent;
}

/* 导航栏 */

#header {
  padding-top: 25px;
}

#logo {
  color: #333;
  font-size: 2.0em;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: '华文中宋', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
}

#logo:hover {
  color: #007BFF; /* 鼠标悬停时的颜色 */
}

#search {
  position: relative;
}

#search input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#search label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease;
}

#search input[type="text"]:focus + label,
#search input[type="text"]:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color: #007BFF;
}

/* 导航菜单样式 */
#nav-menu a {
  display: block;
  margin-right: var(--spacing-small);
  padding: 0 var(--spacing-medium);
  border: var(--border-width) solid var(--border-color);
  height: 32px;
  line-height: 32px;
  color: var(--secondary-color);
  float: left;
  border-radius: var(--border-radius);
}

#nav-menu a:hover,
#nav-menu .current {
  background: var(--primary-color);
  color: #FFF;
}
    
/* Navigation menu */
#nav-menu {
  margin: 25px 0 0;
  padding: 0;
}

#nav-menu a {
  display: block;
  margin-right: 2px;
  padding: 0 20px;
  border: 1px solid #ccc;
  height: 32px;
  line-height: 32px;
  color: #444;
  float: left;
  border-radius: 4px;
}

#nav-menu a:hover,
#nav-menu .current {
  background: #008dff;
  color:#FFF;
}

/* ------------------
 * Main
 * --------------- */
.post {
  padding: var(--spacing-medium) 0 var(--spacing-large);
  border-bottom: var(--border-width) solid var(--border-color);
}

.post-title {
  margin: 0.83em 0;
  font-size: var(--font-size-large);
  color: var(--hover-color);
}

.post-meta {
  margin-top: -0.5em;
  padding: 0;
  color: var(--muted-text-color);
  font-size: var(--font-size-small);
}

.post-meta li {
  display: inline-block;
  margin: 0 var(--spacing-small) 0 0;
  padding-left: var(--spacing-medium);
  border-left: var(--border-width) solid var(--border-color);
}

.post-meta li:first-child {
  margin-left: 0;
  padding-left: 0;
  border: none;
}

.post-content {
  line-height: 1.5;
}

.post .tags {
  clear: both;
}

.archive-title {
  margin: 1em 0 -1em;
  padding-top: 20px;
  color: #999;
  font-size: 1em;
}

.more {
  text-align: center;
}

.more a {
  border: none;
}

.protected .text {
  width: 50%;
}

/* 底部分页按钮样式 */
.page-navigator {
  list-style: none;
  margin: 1rem 0 0 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center !important;
}

.page-navigator li a {
  display: block;
  text-decoration: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #000000;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #e5e5e5;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.page-navigator li.current a,
.page-navigator li a:hover {
  background-color: #000000;
  color: #fff;
  font-weight: bold;
}

/* 添加三个点的样式 */
.page-navigator li span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: #000000;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #e5e5e5;
}

/* 返回顶部按钮样式 */
#backToTop {
  position: fixed;
  bottom: var(--spacing-large);
  right: var(--spacing-large);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding: var(--spacing-medium);
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

#backToTop.visible {
  opacity: 1;
  visibility: visible;
}

/* ----------- */
/* 整体评论容器 */
/* ----------- */
#comments {
  padding-top: 15px;
}

/* 评论列表和有序列表样式 */
.comment-list,
.comment-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 单个评论项样式 */
.comment-list li {
  padding: var(--spacing-medium);
  margin-top: var(--spacing-small);
  border: var(--border-width) solid var(--border-color);
  background-color: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

/* 奇数层级评论的背景色 */
.comment-list li.comment-level-odd {
  background: #F6F6F3;
}

/* 偶数层级评论的背景色 */
.comment-list li.comment-level-even {
  background: #FFF;
}

/* 作者评论的背景色 */
.comment-list li.comment-by-author {
  background: #fff3d1;
}

/* 评论回复按钮样式 */
.comment-list li .comment-reply {
  text-align: right;
  font-size: 0.92857em;
  margin-top: 5px;
}

/* 评论元信息链接样式 */
.comment-meta a {
  color: #000000;
  font-size: 0.92857em;
  text-decoration: none; /* 去除下划线 */
  transition: color 0.3s ease; /* 链接颜色过渡效果 */
}

/* 评论作者信息样式 */
.comment-author {
  display: block;
  margin-bottom: 3px;
  color: #000000;
}

/* 评论作者标志 */
.comment-badge {
  background-color: #3354AA;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 5px;
  vertical-align: middle;
}

/* 作者头像样式 */
.comment-author .avatar {
  float: left;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  object-fit: cover; /* 使头像图片保持比例填充 */
}

/* 评论内容样式 */
.comment-content {
  margin-top: 10px;
  line-height: 1.6; /* 调整行高 */
}

/* 评论提交按钮样式 */
.comment-submit-button {
  float: right;
  width: 100%;
  border: var(--border-width) solid var(--border-color);
  background: #ffffff;
  height: 30px;
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-size: var(--font-size-medium);
  line-height: 30px;
  transition: all 0.2s;
  cursor: pointer;
}

/* 评论提交按钮激活时的样式 */
.comment-submit-button:active {
  transform: scale(0.95);
  background-color: #e0e0e0;
}

/* 评论提交按钮容器样式 */
.comment-submit-button-container {
  margin-top: 0.5em;
}

/* 评论回复部分样式 */
.comment-list .respond {
  margin-top: 15px;
  border-top: 1px solid #EEE;
  padding-top: 15px;
}

/* 取消评论回复按钮样式 */
.respond .cancel-comment-reply {
  float: right;
  margin-top: 15px;
  font-size: 0.92857em;
  cursor: pointer; /* 鼠标悬停显示指针 */
  color: #666; /* 调整颜色 */
  transition: color 0.3s ease; /* 颜色过渡效果 */
}

/* 评论表单标签样式 */
#comment-form label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

/* 表单必填项后的星号样式 */
#comment-form .required:after {
  content: " *";
  color: #C00;
}

/* ------------------
 * secondary
 * --------------- */
#secondary {
  padding-top: 15px;
  word-wrap: break-word;
}

.widget {
  margin-bottom: 30px;
}

.widget-list {
  list-style: none;
  padding: 0;
}

.widget-list li {
  margin: 5px 0;
  line-height: 1.6;
}

.widget-list li ul {
  margin-left: 15px;
}

/* ------------------
 * Footer 
 * --------------- */
#footer {
  padding: 3em 0;
  line-height: 1.5;
  text-align: center;
  color: #000000;
}

/* -----------------
 * Error page
 * -------------- */
.error-page {
  margin-top: 100px;
  margin-bottom: 100px;
}

.post-content {
  line-height: 1.7; /* 微调行高 */
  font-family: '华文中宋', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  letter-spacing: 0.8px; /* 减小字母间距 */
  background-size: 16px 16px; /* 减小背景尺寸 */
  background-position: center center;
  word-break: break-word;
  font-weight: 400;
  font-size: 13px; /* 减小字体大小 */
  overflow-x: hidden;
}

.post-content h1 {
  font-size: 22px; /* 减小字号 */
  margin-bottom: 6px; /* 减小底部边距 */
  font-weight: 700;
  padding-left: 10px; /* 减小左边距 */
  border-radius: 4px;
  border-left: 3px solid #b9b9b9; /* 设置左边框样式 */
}

.post-content h2 {
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
  border-radius: 4px;
  border-left: 3px solid #b9b9b9; /* 设置左边框样式 */
}

.post-content h3 {
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
  border-radius: 4px;
  border-left: 3px solid #b9b9b9; /* 设置左边框样式 */
}

.post-content h4 {
  font-size: 14px;
  font-weight: 700;
  padding-left: 10px;
  border-radius: 4px;
  border-left: 3px solid #b9b9b9; /* 设置左边框样式 */
}

.post-content h5 {
  font-size: 13px;
  font-weight: 700;
  padding-left: 10px;
  border-radius: 4px;
  border-left: 3px solid #b9b9b9; /* 设置左边框样式 */
}

.post-content h6 {
  font-size: 12px;
  margin-top: 4px; /* 减小顶部边距 */
  font-weight: 700;
  padding-left: 10px;
  border-radius: 4px;
  border-left: 3px solid #b9b9b9; /* 设置左边框样式 */
}

.post-content p {
  line-height: inherit;
  margin-bottom: 6px; /* 减小底部边距 */
}

.post-content img {
  border-radius: 4px; /* 减小圆角半径 */
  margin: 6px 0; /* 减小边距 */
  max-width: 100%;
  height: auto;
}

.post-content img:hover  {
  filter: blur(0) brightness(0.75);
  -webkit-filter: blur(0) brightness(0.75);
}

.post-content hr {
  background-color: #eee; /* 调整背景颜色更淡 */
  border-top: 1.5px dashed #333; /* 减小边框宽度，调整颜色 */
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 25px; /* 减小顶部边距 */
  margin-bottom: 25px;
}

.post-content code {
  padding: 1.5px 3px; /* 减小内边距 */
  background: #eee; /* 调整背景颜色更淡 */
  font-size: 13px; /* 减小字号 */
  font-weight: 600; /* 减小字体粗细 */
  font-family: 'SF Mono', Menlo, Monaco, Consolas, 'Courier New', -apple-system, system-ui, monospace;
  color: #c13;
  word-break: break-word;
  overflow-x: auto;
  background-color: transparent; /* 修改为透明背景 */
  border: 1px solid #dedede;
  border-radius: 4px;
}

.post-content pre {
  overflow: auto;
  position: relative;
  line-height: 1.6; /* 微调行高 */
}

.post-content pre>code {
  display: block;
  font-family: 'SF Mono', Menlo, Monaco, Consolas, 'Courier New', -apple-system, system-ui, monospace;
  font-weight: normal;
  font-size: 1em; /* 减小字号 */
  padding: 14px 10px; /* 减小内边距 */
  margin: 0;
  color: #333;
  word-break: normal;
  overflow-x: auto;
  background: #eee; /* 调整背景颜色更淡 */
  scroll-behavior: smooth;
  border: 1px solid #dedede;
  border-radius: 4px;
}

.post-content a {
  text-decoration: none;
  color: rgb(100, 135, 173); /* 调整链接颜色 */
  font-weight: 600; /* 减小字体粗细 */
}

.post-content a:hover,
.post-content a:active {
  color: #773098;
}

.post-content table {
  border: 1px solid #999; /* 调整边框颜色稍淡 */
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 6px; /* 减小底部边距 */
  border-radius: 4px;
}

.post-content thead {
  background-color: #ccc; /* 调整背景颜色稍淡 */
  color: #333;
  text-align: left;
}

.post-content th,
.post-content td {
  border: 1px solid #999; /* 调整边框颜色稍淡 */
  padding: 6px; /* 减小内边距 */
  text-align: left;
}

.post-content blockquote {
  color: #555; /* 调整颜色稍淡 */
  padding: 8px 18px; /* 减小内边距 */
  margin: 18px 0;
  border-radius: 4px;
  border-left: 3px solid #b9b9b9;
  background-color: #f9f9f9; /* 调整背景颜色更淡 */
}

.post-content blockquote::after {
  display: block;
  content: "";
}

.post-content blockquote>p {
  margin: 8px 0;
  line-height: 22px; /* 减小行高 */
}

.post-content ol,
.post-content ul {
  padding-left: 20px; /* 减小左侧内边距 */
}

.post-content ol li,
.post-content ul li {
  margin-bottom: 0;
  list-style: inherit;
}

.post-content ol li.task-list-item,
.post-content ul li.task-list-item {
  list-style: none;
}

.post-content ol li.task-list-item ul,
.post-content ol li.task-list-item ol,
.post-content ul li.task-list-item ul,
.post-content ul li.task-list-item ol {
  margin-top: 0;
}

.post-content ol ul,
.post-content ol ol,
.post-content ul ul,
.post-content ul ol {
  margin-top: 2px; /* 减小顶部边距 */
}

.post-content ol li {
  padding-left: 4px; /* 减小左侧内边距 */
}

.post-content b,
.post-content strong,
.post-content i,
.post-content em {
    color: #000000;
}

.post-content b,
.post-content strong {
    font-weight: 600;
}   
.post-content mark {
  background-color: #ffd9b3;
  padding: 2px 4px;
  border-radius: 4px;
}

.post-content del {
  color: #999;
  text-decoration: line-through;
}

.post-content kbd {
  display: inline-block;
  padding: 2px 4px;
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 4px;
  font-family: 'SF Mono', Menlo, Monaco, Consolas, 'Courier New', -apple-system, system-ui, monospace;
}

.post-content sub, .post-content sup {
  font-size: 10px;
}

.post-content sub {
  vertical-align: sub;
}

.post-content sup {
  vertical-align: super;
}

.post-content details {
  background-color: #f9f9f9;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  transition: max-height 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  max-height: 40px; /* 初始最大高度，可根据 summary 的高度调整 */
}

.post-content details[open] {
  max-height: 1000px; /* 展开时的最大高度，可根据内容调整 */
}

.post-content details summary {
  padding: 4px;
  cursor: pointer;
  list-style: none;
  position: relative;
  font-weight: 600;
}

.post-content summary::-webkit-details-marker {
  display: none;
}

.post-content summary::after {
  content: '\f078';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.post-content details[open] summary::after {
  transform: translateY(-50%) rotate(180deg);
}

.post-content details .year-content {
  will-change: transform, opacity;
  overflow: hidden;
}

.post-content details[open] .year-content {
  animation: slide-down 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.post-content details:not([open]) .year-content {
  animation: slide-up 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}   

.post-content figure {
  margin: 6px 0;
}

.post-content figcaption {
  font-size: 12px;
  color: #555;
  text-align: center;
}

@media (max-width: 720px) {
  .post-content h1 {
    font-size: 20px;
  }

  .post-content h2 {
    font-size: 16px;
  }

  .post-content h3 {
    font-size: 14px;
  }
}

.aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
img.alignleft {
  margin: 0 15px 0 0;
}
img.alignright {
  margin: 0 0 0 15px;
}

@media (max-width: 767px) {
  body {
    font-size: 81.25%;
  }
  #nav-menu a {
    float: none;
    display: inline-block;
    /*margin: 0 -2px;*/
  }
}

@media (max-width: 768px) {
  #header,
  .post-title,
  .post-meta {
    text-align: center;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .container {
    max-width: 952px;
  }
}

.hidden {
  display: none !important;
  visibility: hidden; 
}

.sr-only {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; 
}

.invisible {
  visibility: hidden; 
}

/* 友链卡片样式开始 */
.friend-container {
  isolation: isolate;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px; /* 卡片间距 */
}

.friend-container .friend-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: var(--background-color);
  padding: 0.8em;
  text-decoration: none;
  border-radius: 4px;
  color: inherit;
}

.friend-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1; /* 限制为 1 行 */
  line-clamp: 1; /* 标准属性，增加兼容性 */
  max-height: 1.4em; /* 根据字体大小调整 */
}

.friend-container .friend-card:hover {
  border-bottom-color: #EEE;
}

.friend-container .friend-card .friend-avatar {
  width: 3.2em;
  height: 3.2em;
  bottom: 0;
  margin: 0 0.6em 0 0;
  box-shadow: none;
}

.friend-container .friend-card .friend-info {
  display: flex;
  flex-direction: column;
}

.friend-container .friend-card .friend-name {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.friend-container .friend-card .friend-description {
  font-size: 0.9em;
  color: #999;
  margin: 1px 0 0 0;
}
/* 友链卡片样式结束 */

/*404页面开始*/
.error-page-404 {
  padding: var(--spacing-large);
  text-align: center;
}

.error-page h2 {
  font-size: 36px;
  color: var(--highlight-color);
  margin-bottom: var(--spacing-medium);
  animation: fadeIn 1s ease;
}

.error-page p {
  font-size: var(--font-size-medium);
  margin-bottom: var(--spacing-large);
  animation: fadeIn 1s ease;
}

.error-page form#search {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.error-page form#search input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.error-page form#search label {
  display: none;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
/*404页面结束*/

/*短代码解析样式开始*/
.custom-video-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}
.custom-video-container video {
  width: 100%;
  height: auto;
  display: block;
}
.custom-audio-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.custom-audio-container audio {
  width: 80%;
  max-width: 600px;
}
/*短代码解析样式结束*/